@charset "utf-8";
@import "fonts";

.remark-container {
  background-color: #808080;
}

nav {
  #logo {
    float: right;
    margin-right: 20px;
    width: 192px;
    height: 61px;
    background: url('../images/logo_small.png');
    background-size: 100%;
  }
}

body {
  background: #FFF;
  color: #4A4A4A;
  @include font_open_sans_regular;
  padding: 10px;
  max-width: 1024px;
  margin: auto;
  line-height: 1.7em;
  
  a:link, a:active, a:hover, a:visited {
    text-decoration: none;
    color: #00005D;
    @include font_open_sans_bold;
  }  

  // formatting for notes, examples
  p, ul, li, h1, h2, h3, h4, h5 {
    max-width: 600px;
  }
  
  li:last-child {
    margin-bottom: 15px;
  }
  
  img {
    padding: 30px;
    max-height: 100%;
    max-width: 100%;
  }
    
  .data_viz_example {
    position: absolute;
    margin-top: 40px;
    margin-left: 20px;
    
    // ticks and labels
    .axis path, .axis line { 
      fill: none;
      stroke: #3F3F3F;
      shape-rendering: crispEdges;
    }

    .label {
      position: absolute;
    }

    .x_label{
      top: 500px;
      left: 470px;
    }

    .y_label {
      -webkit-transform-origin: 0;
      transform-origin: 0;
      -webkit-transform: translateX(0px) rotate(-90deg);
      transform: translateX(0px) rotate(-90deg);
      top: 340px;
      left: 0px;
    }    
  }
  
  .d3-tip {
    margin: auto;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
  }
  
  // Example 1
  &.example_1 {
    position: relative;
    width: 100%;
    
    circle {
      fill-opacity: 0;  
      stroke: #202555;
      stroke-width: 2px;
    }
    
    #slider {
      position: relative;
      top: 50px;
      width: 400px;
    }
    
    #note {
      position: relative;
      top: 30px;
    }
    
    .x_label { left: 400px; }
    .y_label { top: 300px;}
    
  }
  
  // Example 2
  &.example_2 {
    position: relative;
    width: 100%;
    
    select {
      position: absolute;
      left: 600px;
    }

    #activity_selector {
      top: 530px;    
    }

    #year_selector {
      top: 580px;
    } 
  }
  
  // Example 3
  &.example_3 {
    position: relative;
    width: 100%;
    
    #button_container {
      position: relative;
      top: 50px;
      left: 50px;
      width: 100%;
      button {
        display: inline-block;
        float: left;
        width: 200px;
        margin: 5px;
      }
    }
    
    .axis {
      &.hidden {
        opacity: 0;
      }
    }
    
    rect {
      fill: #7D8198;
      fill-opacity: 0.3;    
      stroke: #202555;
      stroke-opacity: 0.2;
      &:hover {
        fill: orange;
        fill-opacity: 1;
      }      
    }    
  }
  
}
