@charset "utf-8";
@import "fonts";

body {
  
  background: #FFF;
  color: #3F3F3F;
  @include font_open_sans_regular;
  margin: 10px;
  
  img {
    padding: 20px;
  }
  
  .data_viz_example {
    margin-top: 40px;
    margin-left: 20px;
  }
  
  select {
    position: absolute;
    left: 600px;
  }
  
  #activity_selector {
    top: 700px;    
  }
  
  #year_selector {
    top: 750px;
  }
  
   // ticks and labels
  .axis path, .axis line { 
    fill: none;
    stroke: #3F3F3F;
    shape-rendering: crispEdges;
  }
  
  .label {
    position: absolute;
  }
  
  .x_label{
    top: 645px;
    left: 495px;
  }
  
  .y_label {
    -webkit-transform-origin: 0;
    transform-origin: 0;
    -webkit-transform: translateX(0px) rotate(-90deg);
    transform: translateX(0px) rotate(-90deg);
    top: 475px;
    left: 30px;
  }
  
  // Example 3
  &.example_3 {
    #button_container {
      position: relative;
      top: 50px;
      left: 50px;
      button {
        margin: 5px;
      }
    }
    
    .axis {
      &.hidden {
        opacity: 0;
      }
    }
    
    rect {
      fill: #7D8198;
      fill-opacity: 0.3;    
      stroke: #202555;
      stroke-opacity: 0.2;
      &:hover {
        fill: orange;
        fill-opacity: 1;
      }      
    }
    
    .d3-tip {
      font-size: 0.8em;
      font-weight: bold;
      padding: 5px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
    }    
  }
  
}
