---
title: Interactive Data Visualizations
---

## Description

- This site contains several examples of simple interactive data visualizations created with [d3.js](http://d3js.org).
- [View the source code on github](https://github.com/mstubna/interactive_data_viz)
- [Notes from the Data Philly meetup](http://www.meetup.com/DataPhilly/events/168747852/)

## Examples

[Example 1 - Life expectancy versus fertility rate](example_1.html)

<a href="example_1.html"><image src="images/example_1.png"/></a>

[Example 2 - American time use survey](example_2.html)

<a href="example_2.html"><image src="images/example_2.png"/></a>

[Example 3 - Life expectancy by country](example_3.html)

<a href="example_3.html"><image src="images/example_3.png"/></a>


